# ì œë¡œë² ì´ìŠ¤ ë°ì´í„° ì‚¬ì´ì–¸ìŠ¤ ìŠ¤ì¿¨ EDA Level Test 4
## ë¬¸ì œ ì†Œê°œ 
- ì´ 4ë‹¨ê³„ ë°ì´í„° ë¶„ì„ ìƒí™© ì œì‹œ
<br></br>
    - 1ë‹¨ê³„: Target Data ë¶ˆëŸ¬ì˜¤ê¸° & ì „ì²˜ë¦¬
    - 2ë‹¨ê³„: Reference Data01: ë¶ˆëŸ¬ì˜¤ê¸° & ì „ì²˜ë¦¬ & í•©ì¹˜ê¸°
    - 3ë‹¨ê³„: Reference Data02: ë¶ˆëŸ¬ì˜¤ê¸° & ì „ì²˜ë¦¬ & í•©ì¹˜ê¸°
    - 4ë‹¨ê³„: Data ë¶„ì„í•˜ê¸°(ê°€ì¤‘ í‰ê· )
<br></br>
    - ì´ì  100ì 
<br></br>
## ì°¸ê³  ì‚¬í•­
- Check Functions ì…€ì„ ë°˜ë“œì‹œ ì‹¤í–‰í•´ì£¼ì„¸ìš”!
- ì—¬ëŸ¬ë¶„ì´ ì œì¶œí•˜ì‹  ë‹µì•ˆì„ ì±„ì í•˜ê¸° ìœ„í•œ ì½”ë“œì…ë‹ˆë‹¤. 
- ê° ë¬¸ì œë¥¼ í‘¼ í›„ ë°˜ë“œì‹œ, Check(ì˜ˆ: check_01_01(df)) í•¨ìˆ˜ë¥¼ ì‹¤í–‰í•´ì£¼ì‹œê¸°ë¥¼ ë°”ëë‹ˆë‹¤
<br></br>
- íŒŒì¼ ì œëª©ì€ [DS]edatest_honggildong.ipynb ìœ¼ë¡œ ì œì¶œí•´ì£¼ì‹œê¸° ë°”ëë‹ˆë‹¤.
    - ì„±ë¶€í„° ì†Œë¬¸ìë¡œ ì‘ì„±í•´ì£¼ì„¸ìš”.
- ì œì¶œì€ ì œê³µë“œë¦° êµ¬ê¸€ì„¤ë¬¸ì§€ë¥¼ í†µí•´ ì œì¶œí•´ì£¼ì‹œë©´ ê°ì‚¬í•˜ê² ìŠµë‹ˆë‹¤.
---

# 1. Check Functions
- grading ì±„ì  ì½”ë“œ ì•ˆì—ëŠ” ê° ë¬¸ì œ ë²ˆí˜¸ì— ë”°ë¥¸ check_00_00() ë¼ëŠ” í•¨ìˆ˜ê°€ ìˆìŠµë‹ˆë‹¤. 

    ```
    from grading import check_01_01
    from grading import check_01_02
    from grading import check_01_03
    from grading import check_02_01
    from grading import check_02_02
    from grading import check_02_03
    from grading import check_02_04
    from grading import check_03_01
    from grading import check_03_02
    from grading import check_04_01
    from grading import check_04_02
    ```
    
- ë‹µì•ˆì„ ì‘ì„±í•˜ì‹  í›„ì— ë°˜ë“œì‹œ ì±„ì  ì½”ë“œê¹Œì§€ ê²°ê³¼ê°’ê¹Œì§€ í¬í•¨í•˜ì—¬ ì œì¶œí•´ì£¼ì‹œê¸°ë¥¼ ë°”ëë‹ˆë‹¤.  

ex) 
check_01_01(df)

ì •ë‹µì…ë‹ˆë‹¤! 10ì  ëˆ„ì  ë˜ì—ˆìŠµë‹ˆë‹¤!

í˜„ì¬ ëˆ„ì  ì ìˆ˜: 10 / 100

In [1]:
# ì±„ì ì„ ìœ„í•œ ì½”ë“œì…ë‹ˆë‹¤. ë°˜ë“œì‹œ ì‹¤í–‰í•´ì£¼ì„¸ìš”.
from grading import *

# 2. Datas

##### Target Data(CSV): Global Internet Usage(êµ­ê°€ë³„ ì¸í„°ë„· ì‚¬ìš©ë¥ )
- Source: [Kaggle](https://www.kaggle.com/datasets/sansuthi/gapminder-internet)
- DownLoad: [archive.zip](https://www.kaggle.com/datasets/sansuthi/gapminder-internet/download)

##### Reference Data01(HTML Link): êµ­ê°€ë³„ ì¸êµ¬(Population) Data
- Source: [Wiki](https://en.wikipedia.org/wiki/List_of_countries_and_dependencies_by_population)

##### Reference Data02(CSV): êµ­ê°€ë³„ ISOì½”ë“œ / ì§€ì—­ ë¶„ë¥˜(Region) Data
- Source: [Kaggle](https://www.kaggle.com/datasets/andradaolteanu/country-mapping-iso-continent-region)
- DownLoad: [archive.zip](https://www.kaggle.com/datasets/andradaolteanu/country-mapping-iso-continent-region/download)


##### ì°¸ê³ ì‚¬í•­
- ìœ„ 3ê°œì˜ Dataë“¤ì€ ìƒì„± ì‹œê¸°ê°€ ë‹¤ë¥´ë¯€ë¡œ ì´ Testì—ì„œ ë„ì¶œë˜ëŠ” ê²°ê³¼ëŠ” ì‹¤ì œì™€ ì¼ì¹˜í•˜ì§€ ì•ŠìŠµë‹ˆë‹¤.
<br></br>
- ë¬¸ì œì— hintê°€ ìˆì„ ê²½ìš°, í•´ë‹¹ hintë¥¼ ì´ìš©í•˜ì§€ ì•Šìœ¼ì…”ë„ ë¬´ë°©í•©ë‹ˆë‹¤.
<br></br>
- í•´ë‹¹ TestëŠ” Wikiì˜ Online Dataë¥¼ ê°€ì ¸ì˜¤ëŠ” ë‚´ìš©ì„ í¬í•¨í•˜ê³  ìˆìŠµë‹ˆë‹¤.
    - í•´ë‹¹ ë‚´ìš©ì´ ë³€ê²½ë  ê²½ìš° ì¶”í›„ ê³µìœ ë  ì •ë‹µê³¼ ë‹¤ë¥¼ ìˆ˜ ìˆìŠµë‹ˆë‹¤.
    - ë¬¸ì œ ì œì‘ì‹œì˜ DataëŠ” ì¶”í›„ ê³µìœ ë  ì •ë‹µê³¼ í•¨ê»˜ ì œê³µí•©ë‹ˆë‹¤. í•´ë‹¹ DataëŠ” ì•„ë˜ì˜ ê²½ë¡œì— ìˆìŠµë‹ˆë‹¤.  
        - êµ­ê°€ë³„ ì¸êµ¬ Data  
            <code> [DS]EDA Level Test_week 4/solution/datas/wiki_population.csv </code>  
<br></br>
- í•´ë‹¹ TestëŠ” pycountry ë¼ëŠ” Libraryë¥¼ ì‚¬ìš©í•  ì˜ˆì •ì…ë‹ˆë‹¤.
    - https://pypi.org/project/pycountry/#description
    - https://github.com/flyingcircusio/pycountry
<br></br>
    - í•´ë‹¹ Libraryê°€ ì—†ëŠ” ê²½ìš° ì•„ë˜ ëª…ë ¹ì–´ë¥¼ ì‚¬ìš©í•˜ì—¬ ì„¤ì¹˜í•˜ì‹œê¸° ë°”ëë‹ˆë‹¤.  
    <code> pip install pycountry </code> ë˜ëŠ” <code> conda install -c conda-forge pycountry </code>

# 3. ë¬¸ì œ

## 1ë‹¨ê³„: Target Data ë¶ˆëŸ¬ì˜¤ê¸° & ì „ì²˜ë¦¬
***

In [2]:
import pandas as pd

df_target = pd.read_csv('./datas/gapminder_internet.csv')
df_target

                country  incomeperperson  internetuserate  urbanrate
0           Afghanistan              NaN         3.654122      24.04
1               Albania      1914.996551        44.989947      46.72
2               Algeria      2231.993335        12.500073      65.22
3               Andorra     21943.339900        81.000000      88.92
4                Angola      1381.004268         9.999954      56.70
..                  ...              ...              ...        ...
208             Vietnam       722.807559        27.851822      27.84
209  West Bank and Gaza              NaN        36.422772      71.90
210         Yemen, Rep.       610.357367        12.349750      30.64
211              Zambia       432.226337        10.124986      35.42
212            Zimbabwe       320.771890        11.500415      37.34

[213 rows x 4 columns]

### ë¬¸ì œ 1-1) Target Data ì „ì²˜ë¦¬ 01 (5ì ) 
- ìœ„ì—ì„œ ì½ì€ DataFrameì—ì„œ Nullê°’ì„ ì²˜ë¦¬í•˜ê³ ì í•©ë‹ˆë‹¤. ì•„ë˜ ì¡°ê±´ì— ë§ê²Œ Nullê°’ì„ ì²˜ë¦¬í•˜ì„¸ìš”.
<br></br>
    - ì¡°ê±´1: 'incomeperperson', 'internetuserate', 'urbanrate' Column(ì—´)ì— í•˜ë‚˜ë¼ë„ Nullê°’ì´ ìˆë‹¤ë©´ ê·¸ row(í–‰)ë¥¼ ì‚­ì œ(drop)í•˜ì„¸ìš”.
    - ì¡°ê±´2: Indexì™€ ìˆœì„œ(order)ëŠ” ë³€ê²½í•˜ì§€ ë§ˆì„¸ìš”.
<br></br>
- ì™„ë£Œ í›„ ê²°ê³¼ dataframe ë³€ìˆ˜ë¥¼ check_01_01 í•¨ìˆ˜ì— ì…ë ¥í•˜ì—¬ ì±„ì í•˜ì„¸ìš”.

In [3]:
df_target.dropna(inplace=True)

In [4]:
check_01_01(df_target)

ì •ë‹µì…ë‹ˆë‹¤! 5ì  ëˆ„ì  ë˜ì—ˆìŠµë‹ˆë‹¤!
í˜„ì¬ ëˆ„ì  ì ìˆ˜: 5 / 100

### ë¬¸ì œ 1-2) Target Data ì „ì²˜ë¦¬ 02 (5ì ) 
- 1-1ì˜ DataFrame(df_target)ê³¼ ì•„ë˜ì˜ df_target_change_listë¥¼ ì´ìš©í•˜ì—¬ ì•„ë˜ ì¡°ê±´ì— ë§ê²Œ êµ­ê°€ëª…(ì»¬ëŸ¼ëª…: 'country')ì„ ë³€ê²½í•˜ì„¸ìš”.
<br></br>
    - ì°¸ê³ : êµ­ê°€ëª…ì„ ë³€ê²½í•˜ëŠ” ì´ìœ ëŠ” ì¶”í›„(ë¬¸ì œ 2-4) pycountry Libraryë¥¼ ì‚¬ìš©í•˜ì—¬ êµ­ê°€ì½”ë“œ(ex: ëŒ€í•œë¯¼êµ­-KR)ë¥¼ ì–»ê¸° ìœ„í•¨ì…ë‹ˆë‹¤.
<br></br>
    - ì•„ë˜ df_target_change_listëŠ” ë³€ê²½ ëŒ€ìƒì¸ df_targetì˜ indexì™€ ê·¸ì— ë§ëŠ” êµ­ê°€ëª…ì´ ìŒ(tuple)ë“¤ì„ ê°’ìœ¼ë¡œ ê°€ì§€ê³  ìˆìŠµë‹ˆë‹¤.
<br></br>
        - ì¡°ê±´1: df_target_change_listë¥¼ ì´ìš©í•˜ì—¬ df_targetì˜ êµ­ê°€ëª…ì„ ë³€ê²½í•˜ì„¸ìš”.
        - ì¡°ê±´2: Index ë˜ëŠ” ìˆœì„œ(order)ëŠ” ë³€ê²½í•˜ì§€ ë§ˆì„¸ìš”.
<br></br>
- ì™„ë£Œ í›„ ê²°ê³¼ dataframe ë³€ìˆ˜ë¥¼ check_01_02 í•¨ìˆ˜ì— ì…ë ¥í•˜ì—¬ ì±„ì í•˜ì„¸ìš”.

In [5]:
df_target_change_list = [
    (33, 'Cabo Verde'),
    (35, 'Central African Republic'),
    (41, 'Congo, The Democratic Republic of the'),
    (42, 'Congo'),
    (45, "CÃ´te d'Ivoire"),
    (49, 'Czech Republic'),
    (53, 'Dominican Republic'),
    (83, 'Hong Kong'),
    (100, 'Korea, Republic of'),
    (103, "Lao People's Democratic Republic"),
    (112, 'Macao'),
    (113, 'Republic of North Macedonia'),
    (125, 'Federated States of Micronesia'),
    (183, 'Eswatini'),
    (210, 'Yemen')
]
# ì´ê±´ ëˆˆìœ¼ë¡œ ì¼ì¼íˆ í™•ì¸í•˜ë©° ì–»ì€ ë¦¬ìŠ¤íŠ¸ì´ê² ì§€

In [6]:
for target in df_target_change_list:
    df_target.loc[target[0], 'country'] = target[1]

check_01_02(df_target)

ì •ë‹µì…ë‹ˆë‹¤! 5ì  ëˆ„ì  ë˜ì—ˆìŠµë‹ˆë‹¤!
í˜„ì¬ ëˆ„ì  ì ìˆ˜: 10 / 100

### ë¬¸ì œ 1-3) Target Data ì „ì²˜ë¦¬ 03 (10ì ) 
- 1-2ì˜ DataFrame(df_target)ê³¼ pycountry Libraryë¥¼ ì´ìš©í•˜ì—¬ ì•„ë˜ ì¡°ê±´ì— ë§ê²Œ êµ­ê°€ì½”ë“œë¥¼ êµ¬í•˜ì„¸ìš”.
<br></br>
    - ì°¸ê³ : **pycountry.countries**
<br></br>
        - ISO 3166-2(ì „ ì„¸ê³„ ë‚˜ë¼ ë° ë¶€ì† ì˜í† ì˜ ì£¼ìš” êµ¬ì„± ë‹¨ìœ„ì˜ ëª…ì¹­ì— ê³ ìœ  ë¶€í˜¸(ì½”ë“œ)ë¥¼ ë¶€ì—¬í•˜ëŠ” êµ­ì œ í‘œì¤€) ê¸°ì¤€ êµ­ê°€ë³„ ì½”ë“œë¥¼ ì–»ì„ ìˆ˜ ìˆëŠ” Python Library
<br></br>
        - êµ­ê°€ëª… í‘œê¸° ë°©ì‹ì— ë”°ë¼ ì˜ëª»ëœ ê°’ ë˜ëŠ” ê°’ ê²€ìƒ‰ì´ ì•ˆë˜ëŠ” ê²½ìš°ê°€ ë§ì•„ ì£¼ì˜ê°€ í•„ìš”í•¨
<br></br>
            - ì˜ˆì‹œ: ëŒ€í•œë¯¼êµ­ì˜ ê²½ìš° 'south korea', 'republic of korea', 'korea', 'korea, republic of' ë“±ìœ¼ë¡œ í‘œê¸°ë˜ëŠ”ë°, ì´ ì¤‘ 'korea, republic of' ë¡œë§Œ ì •í™•í•œ êµ­ê°€ ì½”ë“œë¥¼ ì–»ì„ ìˆ˜ ìˆìŒ
            - í˜¼ì„ ì„ ì¤„ì´ê¸° ìœ„í•˜ì—¬ ë¬¸ì œ 1-2ì™€ ê°™ì´ ë³€ê²½í•  êµ­ê°€ëª…ì„ ì œê³µí•¨
<br></br>
        - ì‚¬ìš©ë²•(ìƒì„¸ ì‚¬ìš©ë²•ì€ 2.Datasì˜ ì°¸ê³ ì‚¬í•­ ë‚´ ë§í¬ ì°¸ì¡°)
<br></br>
            - êµ­ê°€ ê²€ìƒ‰ ë°©ë²•
<br></br>
                - ì¼ë°˜ ê²€ìƒ‰: pycountry.countries.get(name=country_name) -> í•˜ë‚˜ì˜ ê²°ê³¼ê°’ì„ return
                - fuzzy ê²€ìƒ‰: pycountry.countries.search_fuzzy(country_name) -> í•˜ë‚˜ ì´ìƒì˜ ê²°ê³¼ê°’ì„ listí˜•íƒœë¡œ return
<br></br>
            - ì˜ˆì‹œ
<br></br>
            <img src="./[ë¬¸ì œë³´ê¸°ìš© ì´ë¯¸ì§€]images/04-1-3-001.png" style="margin:auto" width=500/> 
<br></br>
            <img src="./[ë¬¸ì œë³´ê¸°ìš© ì´ë¯¸ì§€]images/04-1-3-002.png" style="margin:auto" width=600/> 
<br></br>
    - ì¡°ê±´1: df_targetì— 'code'ì»¬ëŸ¼ì„ ì¶”ê°€í•˜ì—¬ ê° row(í–‰)ì˜ êµ­ê°€ëª…ì— ë§ëŠ” 2ê¸€ì êµ­ê°€ì½”ë“œ(alpha_2)ë¥¼ ì…ë ¥í•˜ì„¸ìš”.
<br></br>
    - ì¡°ê±´2: ì¼ë°˜ê²€ìƒ‰(pycountry.countries.get(name=country_name))ì„ ìš°ì„  ì´ìš© í•´ë³´ê³ , ê²°ê³¼ê°’ì´ ì•ˆ ë‚˜ì˜¬ ê²½ìš° fuzzy ê²€ìƒ‰(pycountry.countries.search_fuzzy(country_name))ì„ í™œìš©í•˜ì—¬ ê²€ìƒ‰í•˜ì„¸ìš”.
<br></br>
    - ì¡°ê±´3: fuzzy ê²€ìƒ‰ì„ ì´ìš©í•  ê²½ìš°, ê²°ê³¼ê°’ listì˜ ì²«ë²ˆì§¸ ê°’(index=0)ì˜ êµ­ê°€ì½”ë“œë¥¼ ì…ë ¥í•˜ì„¸ìš”.
<br></br>
    - ì¡°ê±´4: Index ë˜ëŠ” ìˆœì„œ(order)ëŠ” ë³€ê²½í•˜ì§€ ë§ˆì„¸ìš”.
<br></br>
<br></br>
    - hint: Python ì˜ˆì™¸ì²˜ë¦¬(try-except)ë¥¼ í™œìš©í•´ ë³´ì„¸ìš”.
<br></br>
<br></br>
- ì™„ë£Œ í›„ ê²°ê³¼ dataframe ë³€ìˆ˜ë¥¼ check_01_03 í•¨ìˆ˜ì— ì…ë ¥í•˜ì—¬ ì±„ì í•˜ì„¸ìš”.

In [7]:
from pycountry import countries as pyc

print(pyc.search_fuzzy('Korea'))
print(df_target.head())

[Country(alpha_2='KP', alpha_3='PRK', common_name='North Korea', flag='ğŸ‡°ğŸ‡µ', name="Korea, Democratic People's Republic of", numeric='408', official_name="Democratic People's Republic of Korea"), Country(alpha_2='KR', alpha_3='KOR', common_name='South Korea', flag='ğŸ‡°ğŸ‡·', name='Korea, Republic of', numeric='410')]
               country  incomeperperson  internetuserate  urbanrate
1              Albania      1914.996551        44.989947      46.72
2              Algeria      2231.993335        12.500073      65.22
3              Andorra     21943.339900        81.000000      88.92
4               Angola      1381.004268         9.999954      56.70
5  Antigua and Barbuda     11894.464070        80.645455      30.46

In [8]:
for i, r in df_target.iterrows():
    try:
        df_target.loc[i, 'code'] = pyc.get(name=r['country']).alpha_2
    except:
        df_target.loc[i, 'code'] = pyc.search_fuzzy(r['country'])[0].alpha_2

check_01_03(df_target)

ì •ë‹µì…ë‹ˆë‹¤! 10ì  ëˆ„ì  ë˜ì—ˆìŠµë‹ˆë‹¤!
í˜„ì¬ ëˆ„ì  ì ìˆ˜: 20 / 100

## 2ë‹¨ê³„: Reference Data01: ë¶ˆëŸ¬ì˜¤ê¸° & ì „ì²˜ë¦¬ & í•©ì¹˜ê¸°
***

### ë¬¸ì œ 2-1) Web Data ê°€ì ¸ì˜¤ê¸° (10ì ) 
- ì•„ë˜ ì œì‹œëœ Linkì— ìˆëŠ” êµ­ê°€ë³„ ì¸êµ¬ì— ëŒ€í•œ Tableì„ ì•„ë˜ ì¡°ê±´ì— ë§ê²Œ ì˜ˆì‹œì™€ ê°™ì´ Pandas DataFrameìœ¼ë¡œ ë¶ˆëŸ¬ì˜¤ì„¸ìš”.
<br></br>
    - Link: https://en.wikipedia.org/wiki/List_of_countries_and_dependencies_by_population
<br></br>
    <img src="./[ë¬¸ì œë³´ê¸°ìš© ì´ë¯¸ì§€]images/04-2-1-001.png" style="margin:auto" width=400/>
<br></br>
    - ì˜ˆì‹œ
<br></br>
    <img src="./[ë¬¸ì œë³´ê¸°ìš© ì´ë¯¸ì§€]images/04-2-1-002.png" style="margin:auto" width=600/>
<br></br>
    - ì¡°ê±´: í•´ë‹¹ DataFrameì˜ ë³€ìˆ˜ëª…ì„ 'df_population'ìœ¼ë¡œ ì§€ì •í•´ì£¼ì„¸ìš”.
<br></br>
<br></br>
    - hint: pandasì˜ ê¸°ëŠ¥ ì¤‘ì— ì›¹í˜ì´ì§€ì˜ Tableë“¤ì„ ì½ì–´ì™€ DataFrameìœ¼ë¡œ ë§Œë“¤ì–´ì£¼ëŠ” methodê°€ ìˆìŠµë‹ˆë‹¤.
<br></br>
<br></br>
- ì™„ë£Œ í›„ ê²°ê³¼ dataframe ë³€ìˆ˜ë¥¼ check_02_01 í•¨ìˆ˜ì— ì…ë ¥í•˜ì—¬ ì±„ì í•˜ì„¸ìš”.

In [9]:
link = 'https://en.wikipedia.org/wiki/List_of_countries_and_dependencies_by_population'
html = pd.read_html(link)

df_population = html[0]
df_population.columns = [col[1] for col in df_population.columns]
df_population.rename(columns = {'Numbers': 'Population'}, inplace=True)

df_population.head()

,Rank,Country / Dependency,Population,% ofÂ the world,Date,Source (official or from theÂ United Nations),Notes
0,â€“,World,8000443000,100%,23 Dec 2022,UN projection[3],NaN
1,1,China,1412600000,NaN,31 Dec 2021,Official estimate[4],The population figure refers to mainland China...
2,2,India,1375586000,NaN,1 Mar 2022,Official projection[5],The figure includes the population of the Indi...
3,3,United States,334192760,NaN,22 Dec 2022,National Population clock[6],The figure includes the 50 states and the Dist...
4,4,Indonesia,275773800,NaN,1 Jul 2022,Official estimate[7],NaN

In [11]:
check_02_01(df_population)

ì •ë‹µì…ë‹ˆë‹¤! 10ì  ëˆ„ì  ë˜ì—ˆìŠµë‹ˆë‹¤!
í˜„ì¬ ëˆ„ì  ì ìˆ˜: 30 / 100

### ë¬¸ì œ 2-2) Population Data ì „ì²˜ë¦¬ 01 (5ì ) 
- 2-1ì˜ DataFrame(df_population)ì„ ì•„ë˜ì˜ ì¡°ê±´ì— ë§ê²Œ ë³€ê²½í•˜ì„¸ìš”.
<br></br>
    - ì¡°ê±´1: Column(ì—´) ì¤‘ 'Country / Dependency', 'Population' 2ê°œë§Œ ë‚¨ê¸°ì„¸ìš”.
    - ì¡°ê±´2: ì»¬ëŸ¼ëª…ì„ ì•„ë˜ì™€ ê°™ì´ ë³€ê²½í•˜ì„¸ìš”.
        - 'Country / Dependency' -> 'country'
        - 'Population' -> 'population'
    - ì¡°ê±´3: 'country' Column(ì—´)ì˜ ê°’ì´  'World'ì¸ ì²«ë²ˆì§¸ ì¸ë±ìŠ¤(index=0)ì„ ì‚­ì œí•˜ì„¸ìš”.
    - ì¡°ê±´4: Index ë˜ëŠ” ìˆœì„œ(order)ëŠ” ë³€ê²½í•˜ì§€ ë§ˆì„¸ìš”.
<br></br>
- ì™„ë£Œ í›„ ê²°ê³¼ dataframe ë³€ìˆ˜ë¥¼ check_02_02 í•¨ìˆ˜ì— ì…ë ¥í•˜ì—¬ ì±„ì í•˜ì„¸ìš”.

In [12]:
df_population = df_population[['Country / Dependency', 'Population']]
df_population.columns = ['country', 'population']
df_population.drop(0, inplace=True)
df_population

C:\Users\kjaeh\AppData\Local\Temp\ipykernel_2288\3855424158.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_population.drop(0, inplace=True)

                                 country  population
1                                  China  1412600000
2                                  India  1375586000
3                          United States   334192760
4                              Indonesia   275773800
5                               Pakistan   235825000
..                                   ...         ...
237                Tokelau (New Zealand)        1647
238                   Niue (New Zealand)        1549
239                         Vatican City         825
240  Cocos (Keeling) Islands (Australia)         593
241    Pitcairn Islands (United Kingdom)          47

[241 rows x 2 columns]

In [13]:
check_02_02(df_population)

ì •ë‹µì…ë‹ˆë‹¤! 5ì  ëˆ„ì  ë˜ì—ˆìŠµë‹ˆë‹¤!
í˜„ì¬ ëˆ„ì  ì ìˆ˜: 35 / 100

### ë¬¸ì œ 2-3) Population Data ì „ì²˜ë¦¬ 02 (5ì ) 
- 2-2ì˜ DataFrame(df_population)ê³¼ ì•„ë˜ì˜ df_population_change_dictë¥¼ ì´ìš©í•˜ì—¬ ì•„ë˜ ì¡°ê±´ì— ë§ê²Œ êµ­ê°€ëª…(ì»¬ëŸ¼ëª…: 'country')ì„ ë³€ê²½í•˜ì„¸ìš”.
<br></br>
    - ì°¸ê³ : êµ­ê°€ëª…ì„ ë³€ê²½í•˜ëŠ” ì´ìœ ëŠ” ì¶”í›„ ë¬¸ì œì—ì„œ 1ë‹¨ê³„ì—ì„œ ë§Œë“¤ì—ˆë˜ df_targetê³¼ í•©ì¹˜ê¸° ìœ„í•¨ì…ë‹ˆë‹¤.
        - ë³€ê²½ êµ­ê°€ëŠ” 1ë‹¨ê³„ì˜ df_targetì— ìˆëŠ” êµ­ê°€ë§Œ í•´ë‹¹ë©ë‹ˆë‹¤.
        - ì¼ë¶€ êµ­ê°€ëª…ì˜ í‘œí˜„ì´ ë‹¤ë¥´ê¸° ë•Œë¬¸ì— df_targetì„ ê¸°ì¤€ìœ¼ë¡œ í‘œê¸°ë¥¼ í†µì¼í•©ë‹ˆë‹¤.
<br></br>
    - ì•„ë˜ df_population_change_dictëŠ” ë³€ê²½ ëŒ€ìƒì¸ df_populationì˜ ê¸°ì¡´ êµ­ê°€ëª…ê³¼ ë³€ê²½í•  êµ­ê°€ëª…ì´ key-valueë¡œ ì´ë£¨ì–´ì ¸ ìˆìŠµë‹ˆë‹¤.
<br></br>
        - ì¡°ê±´1: df_population_change_dictë¥¼ ì´ìš©í•˜ì—¬ df_populationì˜ êµ­ê°€ëª…ì„ ë³€ê²½í•˜ì„¸ìš”.
        - ì¡°ê±´2: Index ë˜ëŠ” ìˆœì„œ(order)ëŠ” ë³€ê²½í•˜ì§€ ë§ˆì„¸ìš”.
<br></br>
- ì™„ë£Œ í›„ ê²°ê³¼ dataframe ë³€ìˆ˜ë¥¼ check_02_03 í•¨ìˆ˜ì— ì…ë ¥í•˜ì—¬ ì±„ì í•˜ì„¸ìš”.

In [14]:
df_population_change_dict = {
    'Bermuda (United Kingdom)': 'Bermuda',
    'Cape Verde': 'Cabo Verde',
    'DR Congo': 'Congo, The Democratic Republic of the',
    'Ivory Coast': "CÃ´te d'Ivoire",
    'Greenland (Denmark)': 'Greenland',
    'Hong Kong (China)': 'Hong Kong',
    'South Korea': 'Korea, Republic of',
    'Laos': "Lao People's Democratic Republic",
    'Macau (China)': 'Macao',
    'North Macedonia': 'Republic of North Macedonia',
    'Micronesia': 'Federated States of Micronesia',
    'Puerto Rico (United States)': 'Puerto Rico',
    'Slovakia': 'Slovak Republic',
    'East Timor': 'Timor-Leste',
}

In [15]:
targets = df_population_change_dict.keys()

for i, r in df_population.iterrows():
    target = df_population.loc[i, 'country']
    if target in targets:
        df_population.loc[i, 'country'] = df_population_change_dict[target]

check_02_03(df_population)

ì •ë‹µì…ë‹ˆë‹¤! 5ì  ëˆ„ì  ë˜ì—ˆìŠµë‹ˆë‹¤!
í˜„ì¬ ëˆ„ì  ì ìˆ˜: 40 / 100

### ë¬¸ì œ 2-4) Data í•©ì¹˜ê¸°(10ì )
- 1ë‹¨ê³„ì˜ DataFrame(df_target)ê³¼ 2-3ì˜ DataFrame(df_population)ì„ ì•„ë˜ì˜ ì¡°ê±´ì— ë§ê²Œ í•©ì¹˜ì„¸ìš”.
<br></br>
    - df_targetì— df_populationì˜ Dataë¥¼ ì¶”ê°€í•˜ë ¤ í•©ë‹ˆë‹¤.
<br></br>
        - ì¡°ê±´1: df_target, df_populationì˜ êµ­ê°€ëª…('country' Column(ì—´)ì˜ value)ì´ ê°™ì€ Dataë¼ë¦¬ í•©ì³ì£¼ì„¸ìš”.
<br></br>
        - ì¡°ê±´2: ê²°í•© ë°©ì‹ì€ êµì§‘í•©(ê²¹ì¹˜ëŠ” êµ­ê°€ëª…ì´ ìˆëŠ” ê²½ìš°ë§Œ ì¶”ì¶œ)ìœ¼ë¡œ ì§€ì •í•´ ì£¼ì„¸ìš”.
<br></br>
        - ì¡°ê±´3: Column(ì—´)ë°©í–¥ìœ¼ë¡œ DataFrameì„ í•©ì³ì£¼ì„¸ìš”.
<br></br>
        - ì¡°ê±´4: 'code' Column(ì—´)ì„ ê¸°ì¤€ìœ¼ë¡œ ì˜¤ë¦„ì°¨ìˆœìœ¼ë¡œ ì •ë ¬í•´ì£¼ì„¸ìš”.
<br></br>
        - ì¡°ê±´5: indexë¥¼ resetí•´ì£¼ì„¸ìš”.
<br></br>
        - ì¡°ê±´6: ê²°ê³¼ DataFrameì˜ Columnì€ 6ê°œ('country', 'incomeperperson', 'internetuserate', 'urbanrate', 'code', 'population')ì´ì–´ì•¼ í•©ë‹ˆë‹¤.
<br></br>
        - ì¡°ê±´7: ê²°ê³¼ DataFrameì˜ ë³€ìˆ˜ëŠ” 'df' ë¡œ ì§€ì •í•´ ì£¼ì„¸ìš”.
<br></br>
<br></br>
        - hint1: ì¡°ê±´1 -> key='country' ë˜ëŠ” on='country'
<br></br>
        - hint2: ì¡°ê±´2 -> join='inner' ë˜ëŠ” how='inner'(DataFrame ìˆœì„œì— ë”°ë¼ 'left', 'right'ë„ ê°€ëŠ¥)
<br></br>
<br></br>
- ì™„ë£Œ í›„ ê²°ê³¼ dataframe ë³€ìˆ˜ë¥¼ check_02_04 í•¨ìˆ˜ì— ì…ë ¥í•˜ì—¬ ì±„ì í•˜ì„¸ìš”.

In [16]:
df = pd.merge(df_target, df_population, on='country', how='inner')
df.sort_values(by='code', inplace=True)
df.reset_index(inplace=True)
df.drop('index', axis=1, inplace=True)

In [17]:
check_02_04(df)

ì •ë‹µì…ë‹ˆë‹¤! 10ì  ëˆ„ì  ë˜ì—ˆìŠµë‹ˆë‹¤!
í˜„ì¬ ëˆ„ì  ì ìˆ˜: 50 / 100

## 3ë‹¨ê³„: Reference Data02: ë¶ˆëŸ¬ì˜¤ê¸° & ì „ì²˜ë¦¬ & í•©ì¹˜ê¸°
***

In [18]:
df_region = pd.read_csv('./datas/continents2.csv')

df_region

,name,alpha-2,alpha-3,country-code,iso_3166-2,region,sub-region,intermediate-region,region-code,sub-region-code,intermediate-region-code
0,Afghanistan,AF,AFG,4,ISO 3166-2:AF,Asia,Southern Asia,NaN,142.0,34.0,NaN
1,Ã…land Islands,AX,ALA,248,ISO 3166-2:AX,Europe,Northern Europe,NaN,150.0,154.0,NaN
2,Albania,AL,ALB,8,ISO 3166-2:AL,Europe,Southern Europe,NaN,150.0,39.0,NaN
3,Algeria,DZ,DZA,12,ISO 3166-2:DZ,Africa,Northern Africa,NaN,2.0,15.0,NaN
4,American Samoa,AS,ASM,16,ISO 3166-2:AS,Oceania,Polynesia,NaN,9.0,61.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...
244,Wallis and Futuna,WF,WLF,876,ISO 3166-2:WF,Oceania,Polynesia,NaN,9.0,61.0,NaN
245,Western Sahara,EH,ESH,732,ISO 3166-2:EH,Africa,Northern Africa,NaN,2.0,15.0,NaN
246,Yemen,YE,YEM,887,ISO 3166-2:YE,Asia,Western Asia,NaN,142.0,145.0,NaN
247,Zambia,ZM,ZMB,894,ISO 3166-2:ZM,Africa,Sub-Saharan Africa,Eastern Africa,2.0,202.0,14.0
248,Zimbabwe,ZW,ZWE,716,ISO 3166-2:ZW,Africa,Sub-Saharan Africa,Eastern Africa,2.0,202.0,14.0

### ë¬¸ì œ 3-1) Region Data ì „ì²˜ë¦¬ 01 (10ì ) 
- ìœ„ì˜ DataFrame(df_region)ì„ ì•„ë˜ì˜ ì¡°ê±´ì— ë§ê²Œ ë³€ê²½í•˜ì„¸ìš”.
<br></br>
    - ì¡°ê±´1
        - íŠ¹ì • êµ­ê°€('Namibia')ì˜ êµ­ê°€ì½”ë“œê°€ 'NA'ì´ê¸° ë•Œë¬¸ì— ìœ„ì™€ ê°™ì´ DataFrameì„ ë¶ˆëŸ¬ì˜¬ê²½ìš° í•´ë‹¹ êµ­ê°€ì½”ë“œê°€ NaNê°’ìœ¼ë¡œ ì²˜ë¦¬ë©ë‹ˆë‹¤.
        - í•´ë‹¹ êµ­ê°€ì˜ êµ­ê°€ì½”ë“œë¥¼ 'NA'ë¡œ ë³€ê²½í•˜ì„¸ìš”.(í•´ë‹¹ ê°’ì˜ typeì´ stringì´ì–´ì•¼ í•©ë‹ˆë‹¤.)
        - ì°¸ê³ 
            - ì•„ë˜ ì¡°ê±´3ì— ë”°ë¥¸ Column(ì—´)ëª…ì„ ë³€ê²½í•˜ê¸° ì „ì—ëŠ” 'alpha-2', ë³€ê²½ í›„ì—ëŠ” 'code' Column(ì—´)ì— êµ­ê°€ì½”ë“œê°€ ìˆìŠµë‹ˆë‹¤.
            - êµ­ê°€ëª… Column(ì—´)ëª…ì€ 'name'ì…ë‹ˆë‹¤.
<br></br>
    - ì¡°ê±´2
        - ì•„ë˜ df_region_drop_colì€ Data ë¶„ì„ì‹œ í•„ìš” ì—†ëŠ” Column(ì—´)ì…ë‹ˆë‹¤.
        - df_region_drop_colì„ ì°¸ê³ í•˜ì—¬ df_regionì˜ Column(ì—´)ë“¤ì„ ì‚­ì œ(drop)í•˜ì„¸ìš”.
<br></br>
    - ì¡°ê±´3
        - ì•„ë˜ df_region_rename_dictëŠ” ê¸°ì¡´ ì»¬ëŸ¼ëª… - ë³€ê²½í•  ì»¬ëŸ¼ëª…ì´ key-valueë¡œ ì´ë£¨ì–´ì ¸ ìˆìŠµë‹ˆë‹¤.
        - df_region_rename_dictë¥¼ ì°¸ê³ í•˜ì—¬ df_regionì˜ Column(ì—´)ëª…ì„ ë³€ê²½í•˜ì„¸ìš”.
<br></br>
    - ì¡°ê±´4: Index ë˜ëŠ” ìˆœì„œ(order)ëŠ” ë³€ê²½í•˜ì§€ ë§ˆì„¸ìš”.
<br></br>
- ì™„ë£Œ í›„ ê²°ê³¼ dataframe ë³€ìˆ˜ë¥¼ check_03_02 í•¨ìˆ˜ì— ì…ë ¥í•˜ì—¬ ì±„ì í•˜ì„¸ìš”.

In [19]:
df_region_drop_col = [
                    'country-code',
                    'alpha-3',
                    'iso_3166-2',
                    'region-code',
                    'sub-region-code',
                    'intermediate-region-code'
                    ]

df_region_rename_dict = {
                        'alpha-2': 'code',
                        'sub-region': 'sub_region',
                        'intermediate-region': 'intermediate_region',
                        }

In [20]:
# ì¡°ê±´ 1 - nanìœ¼ë¡œ ì…ë ¥ëœ ì½”ë“œ ì²˜ë¦¬
idx = df_region[df_region['name'] == 'Namibia'].index[0]
df_region.loc[idx, 'alpha-2'] = 'NA'

# ì¡°ê±´ 2 - ë¶ˆí•„ìš”í•œ ì—´ ì œê±° ë° ì—´ ì´ë¦„ ì •ë¦¬
df_region.drop(df_region_drop_col, axis=1, inplace=True)
df_region.rename(columns = df_region_rename_dict, inplace=True)
df_region.head()

             name code   region       sub_region intermediate_region
0     Afghanistan   AF     Asia    Southern Asia                 NaN
1   Ã…land Islands   AX   Europe  Northern Europe                 NaN
2         Albania   AL   Europe  Southern Europe                 NaN
3         Algeria   DZ   Africa  Northern Africa                 NaN
4  American Samoa   AS  Oceania        Polynesia                 NaN

In [21]:
check_03_01(df_region)

ì •ë‹µì…ë‹ˆë‹¤! 10ì  ëˆ„ì  ë˜ì—ˆìŠµë‹ˆë‹¤!
í˜„ì¬ ëˆ„ì  ì ìˆ˜: 60 / 100

### ë¬¸ì œ 3-2) Data í•©ì¹˜ê¸°(10ì )
- 2ë‹¨ê³„ì˜ DataFrame(df)ê³¼ 3-1ì˜ DataFrame(df_region)ì„ ì•„ë˜ì˜ ì¡°ê±´ì— ë§ê²Œ í•©ì¹˜ì„¸ìš”.
<br></br>
    - dfì— df_regionì˜ Dataë¥¼ ì¶”ê°€í•˜ë ¤ í•©ë‹ˆë‹¤.
<br></br>
        - ì¡°ê±´1: df, df_region êµ­ê°€ì½”ë“œ('code' Column(ì—´)ì˜ value)ê°€ ê°™ì€ Dataë¼ë¦¬ í•©ì³ì£¼ì„¸ìš”.
<br></br>
        - ì¡°ê±´2: ê²°í•© ë°©ì‹ì€ êµì§‘í•©(ê²¹ì¹˜ëŠ” êµ­ê°€ì½”ë“œê°€ ìˆëŠ” ê²½ìš°ë§Œ ì¶”ì¶œ)ìœ¼ë¡œ ì§€ì •í•´ ì£¼ì„¸ìš”.
<br></br>
        - ì¡°ê±´3: Column(ì—´)ë°©í–¥ìœ¼ë¡œ DataFrameì„ í•©ì³ì£¼ì„¸ìš”.
<br></br>
        - ì¡°ê±´4: 'code' Column(ì—´)ì„ ê¸°ì¤€ìœ¼ë¡œ ì˜¤ë¦„ì°¨ìˆœìœ¼ë¡œ ì •ë ¬í•´ì£¼ì„¸ìš”.
<br></br>
        - ì¡°ê±´5 
            - ì•„ë˜ df_rename_dictëŠ” ê¸°ì¡´ ì»¬ëŸ¼ëª… - ë³€ê²½í•  ì»¬ëŸ¼ëª…ì´ key-valueë¡œ ì´ë£¨ì–´ì ¸ ìˆìŠµë‹ˆë‹¤.
            - df_rename_dictë¥¼ ì°¸ê³ í•˜ì—¬ dfì˜ Column(ì—´)ëª…ì„ ë³€ê²½í•˜ì„¸ìš”.
<br></br>
        - ì¡°ê±´6
            - ì•„ë˜ new_col_orderëŠ” ë³€ê²½í•˜ê³ ìí•˜ëŠ” Column(ì—´)ì˜ ìˆœì„œëŒ€ë¡œ Column(ì—´)ëª…ì„ ê°’ìœ¼ë¡œ ê°€ì§€ê³  ìˆìŠµë‹ˆë‹¤.
            - new_col_orderë¥¼ ì°¸ê³ í•˜ì—¬ dfì˜ Column(ì—´)ì˜ ìˆœì„œë¥¼ ë³€ê²½í•˜ì„¸ìš”.
<br></br>
        - ì¡°ê±´7: 'name' Column(ì—´)ì€ ì‚­ì œ(drop)í•´ ì£¼ì„¸ìš”
<br></br>
        - ì¡°ê±´8: indexë¥¼ resetí•´ì£¼ì„¸ìš”.
<br></br>
        - ì¡°ê±´9: ê²°ê³¼ DataFrameì˜ Columnì€ 6ê°œ('country', 'incomeperperson', 'internetuserate', 'urbanrate', 'code', 'population')ì´ì–´ì•¼ í•©ë‹ˆë‹¤.
<br></br>
        - ì¡°ê±´10: ê²°ê³¼ DataFrameì˜ ë³€ìˆ˜ëŠ” 'df' ë¡œ ì§€ì •í•´ ì£¼ì„¸ìš”.
<br></br>
<br></br>
        - hint1: ì¡°ê±´1 -> key='code' ë˜ëŠ” on='code'
<br></br>
        - hint2: ì¡°ê±´2 -> join='inner' ë˜ëŠ” how='inner'(DataFrame ìˆœì„œì— ë”°ë¼ 'left', 'right'ë„ ê°€ëŠ¥)
<br></br>
<br></br>
- ì™„ë£Œ í›„ ê²°ê³¼ dataframe ë³€ìˆ˜ë¥¼ check_03_02 í•¨ìˆ˜ì— ì…ë ¥í•˜ì—¬ ì±„ì í•˜ì„¸ìš”.

In [22]:
df_rename_dict = {
                'incomeperperson': 'income_per_person',
                'internetuserate': 'internet_use_rate',
                }

df_drop_col = ['name']

new_col_order = [
                'code',
                'country',
                'population',
                'income_per_person',
                'internet_use_rate',
                'urbanrate',
                'region',
                'sub_region',
                'intermediate_region'
                ]

In [23]:
# ì¡°ê±´ 1~3. 2ê°œ ë°ì´í„°í”„ë ˆì„ ë³‘í•©
df = pd.merge(df, df_region, on='code', how='inner')

# ì¡°ê±´ 4. code ê¸°ì¤€ ì˜¤ë¦„ì°¨ìˆœ
df.sort_values(by='code', inplace=True)

# ì¡°ê±´ 5. column ì´ë¦„ ë³€ê²½
df.rename(columns = df_rename_dict, inplace=True)

# ì¡°ê±´ 6~7. column ìˆœì„œ ë³€ê²½ [ìˆœì„œë¥¼ ì¬ì •ì˜í•˜ë©´ì„œ ìì—°ìŠ¤ëŸ½ê²Œ name column ì‚­ì œ]
df = df[new_col_order]

df.head()

In [25]:
check_03_02(df)

ì •ë‹µì…ë‹ˆë‹¤! 10ì  ëˆ„ì  ë˜ì—ˆìŠµë‹ˆë‹¤!
í˜„ì¬ ëˆ„ì  ì ìˆ˜: 70 / 100

## 4ë‹¨ê³„: Data ë¶„ì„í•˜ê¸°(ê°€ì¤‘ í‰ê·  & ë¶„ì‚°)
***

### ë¬¸ì œ 4-1) ì§€ì—­ëŒ€ë¥™ë³„ ê°€ì¤€ í‰ê·  êµ¬í•˜ê¸° (15ì )
- 3ë‹¨ê³„ DataFrame(df)ì˜ êµ­ê°€ë³„ ì¸í„°ë„· ì‚¬ìš©ë¥ (internet_use_rate) ë° ì¸ë‹¹ ì†Œë“(income_per_person)ì„ ëŒ€ë¥™(region) ë˜ëŠ” ì§€ì—­ëŒ€ë¥™(sub_region)ë³„ë¡œ í‰ê· ì„ í•©ì‚°í•˜ì—¬ ë³´ê¸° ìœ„í•´ì„œëŠ” ë‹¨ìˆœ í‰ê· ì´ ì•„ë‹Œ êµ­ê°€ë³„ ì¸êµ¬ìˆ˜(population)ì„ ê°€ì¤‘í•œ í‰ê· ì„ ê³„ì‚°í•˜ì—¬ì•¼ í•©ë‹ˆë‹¤.
<br></br>
- 3ë‹¨ê³„ DataFrame(df)ì„ ì´ìš©í•˜ì—¬ ì§€ì—­ëŒ€ë¥™(sub_region)ë³„ ì¡°ê±´ì— ë§ê²Œ ê°€ì¤‘í‰ê· ì„ êµ¬í•˜ì„¸ìš”.
<br></br>
- ì°¸ê³ 
    - ê°€ì¤‘ í‰ê· : ìë£Œì˜ í‰ê· ì„ êµ¬í•  ë•Œ ìë£Œ ê°’ì˜ ì¤‘ìš”ë„ë‚˜ ì˜í–¥ ì •ë„ì— í•´ë‹¹í•˜ëŠ” ê°€ì¤‘ì¹˜ë¥¼ ë°˜ì˜í•˜ì—¬ êµ¬í•œ í‰ê· ê°’
<br></br>
    <img src="./[ë¬¸ì œë³´ê¸°ìš© ì´ë¯¸ì§€]images/04-4-1-001.png" style="margin:auto" width=300/>
<br></br>
<br></br>
    - ì¡°ê±´1: ê°€ì¤‘ì¹˜(weights)ëŠ” population Column(ì—´)ì„ ì´ìš©í•˜ì„¸ìš”.
<br></br>
    - ì¡°ê±´2: ì§€ì—­ëŒ€ë¥™(sub_region)ì˜ ì¸í„°ë„· ì‚¬ìš©ë¥ (internet_use_rate) ë° ì¸ë‹¹ ì†Œë“(income_per_person)ì„ ì•„ë˜ í‘œì™€ ê°™ì€ index, column í˜•íƒœë¡œ ë‚˜íƒ€ë‚´ì£¼ì„¸ìš”.
        - index = ['region', 'sub_region']
        - column = ['weighted_ave_internet', 'weighted_ave_income']
<br></br>
        <img src="./[ë¬¸ì œë³´ê¸°ìš© ì´ë¯¸ì§€]images/04-4-1-002.png" style="margin:auto" width=400/>
<br></br>
    - ì¡°ê±´3: ê²°ê³¼ DataFrameì˜ ë³€ìˆ˜ëŠ” 'df_result' ë¡œ ì§€ì •í•´ ì£¼ì„¸ìš”.
<br></br>
<br></br>
    - hint1: pandas.DataFrame.groupby
<br></br>
    - hint2: numpy.average
<br></br>
<br></br>
- ì™„ë£Œ í›„ ê²°ê³¼ dataframe ë³€ìˆ˜ë¥¼ check_04_01 í•¨ìˆ˜ì— ì…ë ¥í•˜ì—¬ ì±„ì í•˜ì„¸ìš”.

In [55]:
# ê°€ì¤‘í‰ê·  1ë‹¨ê³„ => ê°€ì¤‘ì¹˜ ê³±í•˜ê¸°
for i, r in df.iterrows():
    df.loc[i, 'weight_iur'] = r['internet_use_rate'] * r['population']
    df.loc[i, 'weight_ipp'] = r['income_per_person'] * r['population']

df_result = df.groupby(by=['region', 'sub_region'])['weight_iur', 'weight_ipp', 'population'].sum()

# ê°€ì¤‘í‰ê·  2ë‹¨ê³„ => ê°€ì¤‘ì¹˜ë¡œ ê³±í•´ì§„ ê°’ì˜ í‰ê·  êµ¬í•˜ê¸°
for i, r in df_result.iterrows():
    df_result.loc[i, 'weighted_ave_internet'] = r['weight_iur'] / r['population']
    df_result.loc[i, 'weighted_ave_income'] = r['weight_ipp'] / r['population']

# ê²°ê³¼ ì—´ë§Œ ì¶”ë¦¬ê¸°
df_result.drop(['weight_iur', 'weight_ipp','population'], axis=1, inplace=True)
df_result.head()

C:\Users\kjaeh\AppData\Local\Temp\ipykernel_2288\1783122345.py:5: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  df_result = df.groupby(by=['region', 'sub_region'])['weight_iur', 'weight_ipp', 'population'].sum()

                                          weighted_ave_internet  \
region   sub_region
Africa   Northern Africa                              27.726133
         Sub-Saharan Africa                           11.124785
Americas Latin America and the Caribbean              33.974879
         Northern America                             74.989471
Asia     Central Asia                                 20.531599

                                          weighted_ave_income
region   sub_region
Africa   Northern Africa                          2273.554528
         Sub-Saharan Africa                        641.826827
Americas Latin America and the Caribbean          4955.798389
         Northern America                        36246.583323
Asia     Central Asia                             1288.767023

In [56]:
check_04_01(df_result)

ì •ë‹µì…ë‹ˆë‹¤! 15ì  ëˆ„ì  ë˜ì—ˆìŠµë‹ˆë‹¤!
í˜„ì¬ ëˆ„ì  ì ìˆ˜: 85 / 100

### ë¬¸ì œ 4-2) íŠ¹ì • ì¡°ê±´ì˜ ê°€ì¤€ í‰ê·  êµ¬í•˜ê¸° (15ì )
- ì¤‘êµ­ê³¼ ì¸ë„ë¥¼ ì œì™¸í•œ Eastern Asia, Southern Asiaì˜ ì¸í„°ë„· ì‚¬ìš©ë¥ (internet_use_rate) ë° ì¸ë‹¹ ì†Œë“(income_per_person)ì„ ì•„ë˜ ì¡°ê±´ì— ë§ê²Œ êµ¬í•˜ì„¸ìš”.
<br></br>
- ì°¸ê³ : 4-1ì˜ ì°¸ê³ ì‚¬í•­ ì°¸ì¡°
<br></br>
    - ì¡°ê±´1: ê°€ì¤‘ì¹˜(weights)ëŠ” population Column(ì—´)ì„ ì´ìš©í•˜ì„¸ìš”.
<br></br>
    - ì¡°ê±´2: ì¤‘êµ­(êµ­ê°€ì½”ë“œ(code): 'CN)ê³¼ ì¸ë„(êµ­ê°€ì½”ë“œ: 'IN')ë¥¼ ì œì™¸í•œ Asia(region) - Eastern Asia, Southern Asia  (sub_region)ì˜ ì¸í„°ë„· ì‚¬ìš©ë¥ (internet_use_rate) ë° ì¸ë‹¹ ì†Œë“(income_per_person)ì„ ì•„ë˜ í‘œì™€ ê°™ì€ index, column í˜•íƒœë¡œ ë‚˜íƒ€ë‚´ì£¼ì„¸ìš”.
        - index = ['region', 'sub_region']
        - column = ['weighted_ave_internet', 'weighted_ave_income']
<br></br>
        <img src="./[ë¬¸ì œë³´ê¸°ìš© ì´ë¯¸ì§€]images/04-4-2-001.png" style="margin:auto" width=400/>
<br></br>
        <img src="./[ë¬¸ì œë³´ê¸°ìš© ì´ë¯¸ì§€]images/04-4-2-002.png" style="margin:auto" width=400/>
<br></br>
    - ì¡°ê±´3: ê²°ê³¼ DataFrameì˜ ë³€ìˆ˜ëŠ” 'df_result' ë¡œ ì§€ì •í•´ ì£¼ì„¸ìš”.
<br></br>
<br></br>
    - hint1: pandas.DataFrame.groupby
<br></br>
    - hint2: numpy.average
<br></br>
<br></br>
- ì™„ë£Œ í›„ ê²°ê³¼ dataframe ë³€ìˆ˜ë¥¼ check_04_02 í•¨ìˆ˜ì— ì…ë ¥í•˜ì—¬ ì±„ì í•˜ì„¸ìš”.

In [68]:
# ë°ì´í„° í•„í„°ë§
df_tmp = df.loc[((df['sub_region'] == 'Eastern Asia') | (df['sub_region'] == 'Southern Asia')) &
                    ((df['code'] != 'CN') & (df['code'] != 'IN'))]

In [69]:
# ê°€ì¤‘í‰ê·  1ë‹¨ê³„ => ê°€ì¤‘ì¹˜ ê³±í•˜ê¸°
for i, r in df_tmp.iterrows():
    df_tmp.loc[i, 'weight_iur'] = r['internet_use_rate'] * r['population']
    df_tmp.loc[i, 'weight_ipp'] = r['income_per_person'] * r['population']

df_result = df_tmp.groupby(by=['region', 'sub_region'])['weight_iur', 'weight_ipp', 'population'].sum()

# ê°€ì¤‘í‰ê·  2ë‹¨ê³„ => ê°€ì¤‘ì¹˜ë¡œ ê³±í•´ì§„ ê°’ì˜ í‰ê·  êµ¬í•˜ê¸°
for i, r in df_result.iterrows():
    df_result.loc[i, 'weighted_ave_internet'] = r['weight_iur'] / r['population']
    df_result.loc[i, 'weighted_ave_income'] = r['weight_ipp'] / r['population']

# ê²°ê³¼ ì—´ë§Œ ì¶”ë¦¬ê¸°
df_result.drop(['weight_iur', 'weight_ipp','population'], axis=1, inplace=True)
df_result.head()

C:\Users\kjaeh\AppData\Local\Temp\ipykernel_2288\1336467365.py:6: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  df_result = df_tmp.groupby(by=['region', 'sub_region'])['weight_iur', 'weight_ipp', 'population'].sum()

                      weighted_ave_internet  weighted_ave_income
region sub_region
Asia   Eastern Asia               77.478481         32140.618713
       Southern Asia              11.501675           880.254570

In [70]:
check_04_02(df_result)

ì •ë‹µì…ë‹ˆë‹¤! 15ì  ëˆ„ì  ë˜ì—ˆìŠµë‹ˆë‹¤!
í˜„ì¬ ëˆ„ì  ì ìˆ˜: 100 / 100